/*
html element ->  element{}
class="name" -> .name {} more specific
id="name" -> #name {} most specific
*/



html, body {
  font-family: Arial, sans-serif; /* web safe font */
  font-size: 1rem;
}

nav {
  font-size: 1.25rem;
}

nav img {
  height: 40px;
}

p {
  font-size: 1rem;
}

.card {
  background: none;
  border: none;
}

.portfolio .card {
  border: 1px solid #fff;
}

.card img {
  max-height: 128px;
}

.gradient {
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}


.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: #fff;
}

#aws {
  height: 64px;
  width: 64px;
  border-radius: 100%;
}

#github {
  height: 64px;
  width: 64px;
}

#linkedin {
  height: 64px;
  width: 64px;
  border-radius: 100%;
}

#portrait {
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
  padding: 5%;
}